.image{
    width               : var(--main-width);
    height              : 200px;
    border              :2px solid var(--border-color);
    background-image    : url("/hero.jpeg"),url("/her.jpeg");
    background-size     : 50% 100%, 50% 100%;
    background-position : left top , right top;
    background-repeat   : no-repeat;
}